{% extends 'basefront.html.twig' %}



{% block imageH1 %}{% endblock %}
{% block imageH2 %}{% endblock %}
{% block body %}
<br>
 <div class="col-sm-6 col-md-4">
{{form_start(f,{'attr':{'novalidate':'novalidate'}}) }}
{{form_row(f.nom_o, {'attr': {'class': 'form-control mb-3'}}) }}
{{form_errors(f.nom_o)}}
    </div>

<div class="col-sm-6 col-md-4">
{{form_row(f.type_o, {'attr': {'class': 'form-control mb-3'}}) }}
{{form_errors(f.type_o)}}
 </div>

{{form_end(f)}}
<br>
{% endblock %}