{% block title %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front/images/favicon.jpg') }}"/>
    <title>Welcome to envi</title>
{% endblock %}
{% block header %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <header class="navigation fixed-top">
        <div class="container">
            <!-- main nav -->

            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <!-- logo -->
                <a class="navbar-brand logo" href="index.html">
                    <img loading="lazy" class="logo-default" src="{{ asset('front/images/favicon.jpg') }}" alt="logo"/>

                </a>
                <!-- /logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partners <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if app.user.role == 'agence' %}
                                    <li><a class="dropdown-item" href="{{ path('app_partenaire_fnew') }}">Add
                                            Partner</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_partenaire_list') }}">Show Partners</a>
                                </li>
                                {% if app.user.role == 'agence' %}
                                    <li><a class="dropdown-item" href="{{ path('app_offre_fnew') }}">Add Offer</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_offre') }}">Show Offers</a></li>
                            </ul>
                        </li>


                        <li class="nav-item ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown03" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Events<i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                <li><a class="dropdown-item" href="{{ path('app_taches_index') }}">Show Tasks</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_taches_favorites') }}"> Favorite
                                        Tasks</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_succes_index') }}">Show Succes</a></li>
                            </ul>
                        </li>

                        </li>
                        {% if app.user.role != 'benevole' %}
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Stock <i class="tf-ion-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_equipement') }}">Show
                                            Equipements</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_equipement_fnew') }}">Add
                                            Equipement</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_fournisseur') }}">Show
                                            Fournisseurs</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_fournisseur_fnew') }}">Add
                                            Fournisseur</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('shop') }}">Shop</a>
                        </li>

                        <li class="nav-item ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown03" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Workshops <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                <li><a class="dropdown-item" href="{{ path('app_workshops_list') }}">Show Workshops</a>
                                </li>
                                {% if app.user.role != 'benevole' %}
                                    <li><a class="dropdown-item" href="{{ path('app_workshops_fnew') }}">Add
                                            Workshop</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_emplacement1_list') }}">Show
                                        Emplacements</a></li>
                                {% if app.user.role != 'benevole' %}
                                    <li><a class="dropdown-item" href="{{ path('app_emplacement_fnew') }}">Add
                                            Emplacement</a></li>
                                {% endif %}


                            </ul>

                        </li>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_chat_index') }}">Chatbot</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown02" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Pages <i class="tf-ion-chevron-down"></i>
                            </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown02" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Account <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                {% if app.user %}
                                <li><a class="dropdown-item" href="{{ path('user_show_details', {id: app.user.id}) }}">Account
                                        settings</a></li>
                                {% if app.user.role != 'agence'%}

                                <li><a class="dropdown-item" href="{{ path('historique_achat_user', {id: app.user.id}) }}">
                                        Historique des achats</a></li>
                                {% endif %}
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>

                            </ul>
                        </li>
                        {% if app.user.role != 'agence' %}
                      <li class="nav-item ">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal"
                           onclick="afficherPanier({{ app.user.id }})"><i class="fa-solid fa-cart-shopping"></i></a>
                      </li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
{% endblock %}
{% block image %}
<body id="body">

<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({{ asset('front/images/slider/envi.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Welcome To Envi !<br>
                        Welcome {{ app.user.getNom() }}</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp"
                       data-delay-in=".5">{{ app.user.getRole() | upper }}<br>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block body %}
    <body id="body">


    <!--
    Start About Section
    ==================================== -->
    <section class="service-2 section">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>Welcome To Our Team !</h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center d-none d-md-block">
                    <img loading="lazy" src="{{ asset('images/about/member.jpg') }}" class="img-fluid inline-block"
                         alt="">
                </div>
                <div class="col-md-8">
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-alarm-outline"></i>
                                <h4>Youssef Grissa</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-alarm-outline"></i>
                                <h4>Saif Bouhamed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-briefcase-outline"></i>
                                <h4> Kamel hajsalah</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-email-outline"></i>
                                <h4>Fayed Jaidi</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-locked-outline"></i>
                                <h4>Feryel Djebbi</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <i class="tf-ion-ios-locked-outline"></i>
                                <h4>Marouen Ben Mohamed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                    venenatis.</p>
                            </div>
                        </div><!-- END COL -->
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section>


    <!-- Modal -->



    </body>
{% endblock %}




{% block footer %}

    <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                        <h3>About Our Site</h3>
                        <p>Envi is a website that helps you maximize the positive impact in preserving the
                            ecosystem...</p>
                    </div>
                    <!-- End of .col-sm-3 -->


                    <!-- End of .col-sm-3 -->


                    <!-- End of .col-sm-3 -->


                    <!-- End of .col-sm-3 -->

                </div>
            </div> <!-- end container -->
        </div>
        <div class="footer-bottom">
            <h5>&copy; Copyright 2024. All rights reserved to BlazingFlame.</h5>

        </div>
    </footer> <!-- end footer -->
{% endblock %}


<!-- css et java -->
{% block css %}
    {% if app.user %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 263px);
    overflow-y: auto;">
                    <div class="alert alert-warning" role="alert" id="toast_panier" style="display: none">Your basket is empty
                    </div>
                    <div class="alert alert-success" role="alert" id="toast_panier_payer_success" style="display: none">
                        Your purchase is paid
                    </div>
                    <div class="table-responsive">
                        <table class="table " id="table_panier">
                            <thead></thead>
                            <tbody id="body_panier">
                            <tr>
                                <th></th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total price</th>
                            </tr>

                            </tbody>
                        </table>
                        <div>
                        </div>
                        <p id="prix_total" style="display:none; font-weight: bolder; margin-left: 36% ; color: red"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="button-payer" onclick="payer({{ app.user.id }})">
                        payer
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->

    <link rel="stylesheet" href="{{ asset('front/plugins/themefisher-font/style.css') }}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/bootstrap/bootstrap.min.css') }}">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/lightbox2/css/lightbox.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/animate/animate.css') }}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{ asset('front/plugins/slick/slick.css') }}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

{% endblock %}

{% block java %}
    <script src="{{ asset('front/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap4 -->
    <script src="{{ asset('front/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <!-- Parallax -->
    <script src="{{ asset('front/plugins/parallax/jquery.parallax-1.1.3.js') }}"></script>
    <!-- lightbox -->
    <script src="{{ asset('front/plugins/lightbox2/js/lightbox.min.js') }}"></script>
    <!-- Owl Carousel -->
    <script src="{{ asset('front/plugins/slick/slick.min.js') }}"></script>
    <!-- filter -->
    <script src="{{ asset('front/plugins/filterizr/jquery.filterizr.min.js') }}"></script>
    <script src="{{ asset('front/js/scripts.js') }}"></script>
    <!-- Smooth Scroll js -->
    <script src="{{ asset('front/plugins/smooth-scroll/smooth-scroll.min.js') }}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="{{ asset('front/plugins/google-map/gmap.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ asset('front/js/script.js') }}"></script>µ
    <script>
        function afficherPanier(id_user) {
            var baseUrl = "{{ path('afficher_panier', { 'id_user': 'ID_USER_PLACEHOLDER'}) }}";
            var finalUrl = baseUrl.replace('ID_USER_PLACEHOLDER', id_user);

            $.ajax({
                url: finalUrl,
                type: 'GET',
                success: function (data) {
                    var tableau = document.querySelector('#table_panier');
                    var toast_panier = document.querySelector('#toast_panier');
                    var prix_total_div = document.querySelector('#prix_total');
                    prix_total_div.innerHTML = '';
                    document.getElementById("toast_panier_payer_success").style.display = "none";
                    if (data == "Panier vide") {

                        tableau.style.display = 'none'
                        toast_panier.style.display = 'block'
                        document.getElementById("button-payer").style.display = "none";

                    } else {
                        document.getElementById("button-payer").style.display = "block";
                        tableau.style.display = 'block'
                        toast_panier.style.display = 'none'
                        const contenuepanier = JSON.parse(data);
                        const body_panier = document.getElementById("body_panier");

                        // Parcourir la liste des éléments et les supprimer
                        var elements = document.querySelectorAll('.tr_class');
                        elements.forEach(function (element) {
                            element.parentNode.removeChild(element);
                        });

                        var prix_Total_panier = 0;
                        for (const ligne_panier of contenuepanier) {


                            const td_nom = document.createElement("td");
                            const td_image = document.createElement("td");
                            const image = document.createElement("img");

                            var baseUrlImage = "{{ asset('images/produits/' ~ 'IMAGE_PLACEHOLDER') }}";
                            var finalUrlImage = baseUrlImage.replace('IMAGE_PLACEHOLDER', ligne_panier.idProduit.image);
                            image.src = finalUrlImage
                            image.width = '100'
                            const td_quantite = document.createElement("td");
                            const td_prix = document.createElement("td");
                            const td_prix_total = document.createElement("td");
                            const tr = document.createElement("tr");
                            tr.className = "tr_class"


                            td_quantite.append(ligne_panier.quantite)

                            td_nom.append(ligne_panier.idProduit.nomProduit)
                            td_prix.append(ligne_panier.idProduit.prix + ' DT')
                            prix_Total_panier += ligne_panier.idProduit.prix * ligne_panier.quantite
                            td_prix_total.append((ligne_panier.idProduit.prix * ligne_panier.quantite) + ' DT')


                            td_image.appendChild(image)
                            tr.appendChild(td_image)
                            tr.appendChild(td_nom)
                            tr.appendChild(td_prix)
                            tr.appendChild(td_quantite)
                            tr.appendChild(td_prix_total)

                            body_panier.appendChild(tr)

                        }

                        prix_total_div.innerHTML = '';
                        prix_total_div.append("Total price :" + prix_Total_panier + ' DT')
                        prix_total_div.style.display = 'block'
                    }
                },
                error: function (xhr, status, error) {

                }
            })
        }

        function payer(id_user) {
            var baseUrl = "{{ path('payer_panier', {'id_user': 'ID_USER_PLACEHOLDER'}) }}";
            var finalUrl = baseUrl.replace('ID_USER_PLACEHOLDER', id_user);

            $.ajax({
                url: finalUrl,
                type: 'GET',
                success: function (data) {


                    document.getElementById("toast_panier_payer_success").style.display = "block";

                },
                error: function (xhr, status, error) {

                }
            })
        }
    </script>
    </html>
{% endblock %} 

