{% block title %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front/images/favicon.jpg') }}"/>
    <title>Welcome to envi</title>
{% endblock %}
{% block header %}
    <header class="navigation fixed-top">
        <div class="container">
            <!-- main nav -->

            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <!-- logo -->
                <a class="navbar-brand logo" href="index.html">
                    <img loading="lazy" class="logo-default" src="{{ asset('front/images/favicon.jpg') }}" alt="logo"/>

                </a>
                <!-- /logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Homepage <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('app_partenaire') }}">Homepage</a></li>
                                <li><a class="dropdown-item" href="onepage-slider.html">Onepage</a></li>
                                <li><a class="dropdown-item" href="onepage-text.html">Onepage 2</a></li>

                                <li class="dropdown dropdown-submenu dropright">
                                    <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu <i
                                                class="tf-ion-chevron-down"></i></a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                        <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                        <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown03" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Partenaire et Offre <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                <li><a class="dropdown-item" href="{{ path('app_partenaire1') }}">Afficher
                                        Partenaire</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_partenaire_fnew') }}">Ajouter
                                        Partenaire</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_offre') }}">Offre</a></li>


                            </ul>
                        </li>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_back') }}">back</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('shop') }}">Shop</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pricing.html">Pricing</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown02" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Pages <i class="tf-ion-chevron-down"></i>
                            </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown02" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Account <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                {% if app.user %}
                                    <li><a class="dropdown-item" href="{{ path('app_user_fedit', {id: app.user.id}) }}">Account
                                            settings</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>

                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal"
                               onclick="afficherPanier({{ app.user.id }})"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                        </li>


                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
{% endblock %}


{% block image %}
<body id="body">
<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({{ asset('front/images/slider/envi.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Crafting Digital <br>
                        Experience</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quod, <br> veritatis tempore nostrum id
                        officia quaerat eum corrupti, <br> ipsa aliquam velit.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-success"
                       href="service.html">Explore Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({{ asset('front/images/slider/envi.jpg)') }};">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We Combine Design <br>
                        and
                        Creativity</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Create just what you need
                        for your Perfect Website. Choose from a wide range
                        <br> of Elements & simply put them on our Canvas.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-success"
                       href="service.html">Explore Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<!--
Start About Section
==================================== -->
<section class="service-2 section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6">
                <!-- section title -->
                <div class="title text-center">
                    <h2>What Do We Offer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Voluptates, earum. </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 text-center d-none d-md-block">
                <img loading="lazy" src="{{ asset('front/images/about/member.jpg') }}" class="img-fluid inline-block"
                     alt="">
            </div>
            <div class="col-md-8">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="tf-ion-ios-alarm-outline"></i>
                            <h4>Time Management</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                venenatis.</p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="tf-ion-ios-briefcase-outline"></i>
                            <h4>Marketing Ideas</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                venenatis.</p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="tf-ion-ios-email-outline"></i>
                            <h4>Mail Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                venenatis.</p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="tf-ion-ios-locked-outline"></i>
                            <h4>Secure System</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui
                                venenatis.</p>
                        </div>
                    </div><!-- END COL -->
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-lg-6">
                <div class="title text-center">
                    <h2>We Are Bingo Agency</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam reprehenderit accusamus
                        labore iusto,
                        aut, eum itaque illo totam tempora eius.</p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>

        <div class="row">

            <div class="col-md-6 mb-4 mb-md-0">
                <img loading="lazy" src="{{ asset('front/images/about/about-2.png') }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <ul class="checklist">
                    <li>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem laca quam venenatis
                        vestibulum.
                    </li>
                    <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                    <li>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem laca quam venenatis
                        vestibulum.
                    </li>
                    <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                    <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                </ul>
                <a href="about.html" class="btn btn-main mt-20">Learn More</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->

<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <h2>Let's Create Something Together</h2>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, nisi elit consequat
                    ipsum,
                    nesagittis sem nid elit. Duis sed odio sitain elit.</p>
                <a href="contact.html" class="btn btn-main">Contact Us</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->

<!--
Start Counter Section
==================================== -->
<section class="counter-wrapper section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <div class="title">
                    <h2>Award-Winning Agency</h2>
                    <p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum
                        iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a
                        risus luctus dignissim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-alarm-outline"></i>
                    <div>
                        <span class="counter" data-count="150">0</span>
                    </div>
                    <h3>Happy Clients</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-analytics-outline"></i>
                    <div>
                        <span class="counter" data-count="130">0</span>
                    </div>
                    <h3>Projects completed</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-compose-outline"></i>
                    <div>
                        <span class="counter" data-count="99">0</span>
                    </div>
                    <h3>Positive feedback</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item kill-border">
                    <i class="tf-ion-ios-bolt-outline"></i>
                    <div>
                        <span class="counter" data-count="250">0</span>
                    </div>
                    <h3>Cups of Coffee</h3>
                </div>
            </div>
            <!-- end fourth count item -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->

<!-- Start Testimonial
=========================================== -->

<section class="testimonial section" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- testimonial wrapper -->
                <div class="testimonial-slider">
                    <!-- testimonial single -->
                    <div class="item text-center">
                        <i class="tf-ion-chatbubbles"></i>
                        <!-- client info -->
                        <div class="client-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos
                                earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates
                                alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                        </div>
                        <!-- /client info -->
                        <!-- client photo -->
                        <div class="client-thumb">
                            <img loading="lazy" src="{{ asset('front/images/client-logo/clients-1.jpg') }}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>William Martin</h3>
                            <span>CEO , Company Name</span>
                        </div>
                        <!-- /client photo -->
                    </div>
                    <!-- /testimonial single -->

                    <!-- testimonial single -->
                    <div class="item text-center">
                        <i class="tf-ion-chatbubbles"></i>
                        <!-- client info -->
                        <div class="client-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos
                                earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates
                                alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                        </div>
                        <!-- /client info -->
                        <!-- client photo -->
                        <div class="client-thumb">
                            <img loading="lazy" src="{{ asset('front/images/client-logo/clients-2.jpg') }}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Emma Harrison</h3>
                            <span>CEO , Company Name</span>
                        </div>
                        <!-- /client photo -->
                    </div>
                    <!-- /testimonial single -->

                    <!-- testimonial single -->
                    <div class="item text-center">
                        <i class="tf-ion-chatbubbles"></i>
                        <!-- client info -->
                        <div class="client-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos
                                earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates
                                alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                        </div>
                        <!-- /client info -->
                        <!-- client photo -->
                        <div class="client-thumb">
                            <img loading="lazy" src="{{ asset('front/images/client-logo/clients-3.jpg') }}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Alexander Lucas</h3>
                            <span>CEO , Company Name</span>
                        </div>
                        <!-- /client photo -->
                    </div>
                    <!-- /testimonial single -->
                </div>
            </div>        <!-- end col lg 12 -->
        </div>        <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- End Section -->

<!--
Start Blog Section
=========================================== -->
<section class="blog" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2> Latest <span class="color">Posts</span></h2>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit
                        libero inventore nam.</p>
                </div>
            </div>
            <!-- /section title -->
        </div>

        <div class="row">
            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ asset('front/images/blog/post-1.jpg') }}"
                             alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Reasons to Smile</a></h3>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute, non skateboard dolor brunch.</p>
                        <a class="btn btn-main" href="single-post.html">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ asset('front/images/blog/post-2.jpg') }}"
                             alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">A Few Moments</a></h3>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute, non skateboard dolor brunch.</p>
                        <a class="btn btn-main" href="single-post.html">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ asset('front/images/blog/post-3.jpg') }}"
                             alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Hints for Life</a></h3>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute, non skateboard dolor brunch.</p>
                        <a class="btn btn-main" href="single-post.html">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mon Panier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 263px);
    overflow-y: auto;">
                <div class="alert alert-warning" role="alert"   id="toast_panier" style="display: none">Votre Panier est vide</div>
                <table class="table table-responsive" id="table_panier">
                    <thead></thead>
                    <tbody id="body_panier">
                    <tr>
                        <th></th>
                        <th>Nom produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>
                    </tr>

                    </tbody>
                </table>
                <div  >
                <p id="prix_total" style="display:none; font-weight: bolder; margin-left: 36% ; color: red" > </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}




{% block footer %}

    <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                        <h3>about</h3>
                        <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus
                            cursus commodo, tortor mauris sed posuere.</p>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <ul>
                            <li>
                                <h3>Our Services</h3>
                            </li>
                            <li><a href="service.html">Ui/Ux Design</a></li>
                            <li><a href="service.html">Graphic Design</a></li>
                            <li><a href="service.html">Web Design</a></li>
                            <li><a href="service.html">Web Development</a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
                        <ul>
                            <li>
                                <h3>Quick Links</h3>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="blog.html">Blogs</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-3 col-md-6">
                        <ul>
                            <li>
                                <h3>Connect with us Socially</h3>
                            </li>
                            <li><a href="https://www.facebook.com/themefisher/">Facebook</a></li>
                            <li><a href="https://www.twitter.com/themefisher/">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA">Youtube</a></li>
                            <li><a href="https://www.github.com/themefisher/">Github</a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                </div>
            </div> <!-- end container -->
        </div>
        <div class="footer-bottom">
            <h5>&copy; Copyright 2024. All rights reserved to BlazingFlame.</h5>

        </div>
    </footer> <!-- end footer -->
{% endblock %}


<!-- css et java -->
{% block css %}
    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->

    <link rel="stylesheet" href="{{ asset('front/plugins/themefisher-font/style.css') }}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/bootstrap/bootstrap.min.css') }}">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/lightbox2/css/lightbox.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ asset('front/plugins/animate/animate.css') }}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{ asset('front/plugins/slick/slick.css') }}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{% block java %}
    <script src="{{ asset('front/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap4 -->
    <script src="{{ asset('front/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <!-- Parallax -->
    <script src="{{ asset('front/plugins/parallax/jquery.parallax-1.1.3.js') }}"></script>
    <!-- lightbox -->
    <script src="{{ asset('front/plugins/lightbox2/js/lightbox.min.js') }}"></script>
    <!-- Owl Carousel -->
    <script src="{{ asset('front/plugins/slick/slick.min.js') }}"></script>
    <!-- filter -->
    <script src="{{ asset('front/plugins/filterizr/jquery.filterizr.min.js') }}"></script>
    <!-- Smooth Scroll js -->
    <script src="{{ asset('front/plugins/smooth-scroll/smooth-scroll.min.js') }}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="{{ asset('front/plugins/google-map/gmap.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ asset('front/js/script.js') }}"></script>


    <script>
        function afficherPanier(id_user) {
            var baseUrl = "{{ path('afficher_panier', { 'id_user': 'ID_USER_PLACEHOLDER'}) }}";
            var finalUrl = baseUrl.replace('ID_USER_PLACEHOLDER', id_user);

            $.ajax({
                url: finalUrl,
                type: 'GET',
                success: function (data) {
                    var tableau = document.querySelector('#table_panier');
                    var toast_panier = document.querySelector('#toast_panier');
                    if (data == "Panier vide") {

                        tableau.style.display='none'
                        toast_panier.style.display='block'

                    } else {

                        tableau.style.display='block'
                        toast_panier.style.display='none'
                        const contenuepanier = JSON.parse(data);
                        const body_panier = document.getElementById("body_panier");

                        // Parcourir la liste des éléments et les supprimer
                        var elements = document.querySelectorAll('.tr_class');
                        elements.forEach(function (element) {
                            element.parentNode.removeChild(element);
                        });

                        var prix_Total_panier = 0;
                        for (const ligne_panier of contenuepanier) {


                            const td_nom = document.createElement("td");
                            const td_image = document.createElement("td");
                            const image= document.createElement("img");

                            var baseUrlImage = "{{ asset('images/produits/' ~ 'IMAGE_PLACEHOLDER') }}";
                            var finalUrlImage = baseUrlImage.replace('IMAGE_PLACEHOLDER', ligne_panier.idProduit.image);
                            image.src = finalUrlImage
                            image.width = '100'
                            const td_quantite = document.createElement("td");
                            const td_prix = document.createElement("td");
                            const td_prix_total = document.createElement("td");
                            const tr = document.createElement("tr");
                            tr.className = "tr_class"



                            td_quantite.append(ligne_panier.quantite)

                            td_nom.append(ligne_panier.idProduit.nomProduit)
                            td_prix.append(ligne_panier.idProduit.prix + ' DT')
                            prix_Total_panier += ligne_panier.idProduit.prix * ligne_panier.quantite
                            td_prix_total.append((ligne_panier.idProduit.prix * ligne_panier.quantite ) + ' DT')


                            td_image.appendChild(image)
                            tr.appendChild(td_image)
                            tr.appendChild(td_nom)
                            tr.appendChild(td_prix)
                            tr.appendChild(td_quantite)
                            tr.appendChild(td_prix_total)

                            body_panier.appendChild(tr)

                        }

                        var prix_total_div = document.querySelector('#prix_total');
                        prix_total_div.innerHTML='';
                        prix_total_div.append("Prix Total :" +prix_Total_panier + ' DT')
                        prix_total_div.style.display = 'block'
                    }
                },
                error: function (xhr, status, error) {

                }
            })
        }
    </script>
    </html>
{% endblock %}



{% block javascript %}


{% endblock %}