





{% extends 'homeback.html.twig' %}
{% block body %}
<style>
   .sortable {
            cursor: pointer;
        }
</style>
<script src="{{ asset( 'assetsback/js/jquery.js') }}"></script>
        <div class="content-body">
            <div class="container-fluid mt-3">
                <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                        <input type="search" class="form-control" placeholder="Chercher" id="search"> 
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0" id="tableac">
                                            <thead>
                                                <tr>
                                                        
       <th class="sortable">ID</th>
        <th class="sortable">Nom</th>
		<th>Type</th>
		 <th>Nom Entreprise</th>
        <th>Action</th>
                                                </tr>
                                            </thead>
                                              {% for partenaire in offres %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ partenaire.getId() }}</td>
                                                    <td>{{ partenaire.getNomO() | upper }}</td>
                                                 
                                                    <td>
                                                       {{ partenaire.getTypeO() }}
                                                    </td>
                                                    <td> {{ partenaire.entreprise.getNomE() }}</td>
                                                  
                                                  
                                                   <td>
                                                   <a href="{{ path('app_offreback_fedit', {id: partenaire.getId()}) }}"><i class="fa">&#x270E;</i></a>
                                                   <a href="{{ path('app_offreback_delete', {id: partenaire.getId()}) }}"><i class="fa">&#xf014;</i></a>
                                                   
                                                   </td>
                                                   
                                            </tbody>
                                              {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

               

                

               
            </div>
            <!-- #/ container -->
        </div>
        </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = false;
                    $(this).find('td:nth-child(2)').each(function(){ 
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false; 
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

            $('#tableac th:nth-child(2)').click(function(){
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc){rows = rows.reverse()}
                for (var i = 0; i < rows.length; i++){table.append(rows[i])}
            })

             $('#tableac th:nth-child(1)').click(function(){
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc){rows = rows.reverse()}
                for (var i = 0; i < rows.length; i++){table.append(rows[i])}
            })

            function comparer(index) {
                return function(a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index)
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                }
            }

            function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
        });
    </script>
        {% endblock %}