{% extends 'homeback.html.twig' %}

{% block body %}
<style>
   .sortable {
            cursor: pointer;
        }
</style>
    <div class="content-body">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                         <input type="text" id="search" placeholder="Rechercher par nom..." class="form-control">
                            <div class="active-member">
                                <div class="table-responsive">
                                    <table id="tableac" class="table table-xs mb-0">
                                        <thead>
                                            <tr>
                                                <th class="sortable">ID</th>
                                                <th class="sortable">Nom</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Emplacement</th>
                                                <th>Image</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for partenaire in partenaires %}
                                                <tr>
                                                    <td>{{ partenaire.getId() }}</td>
                                                    <td>{{ partenaire.getNomE() | upper }}</td>
                                                    <td>{{ partenaire.getMailE() }}</td>
                                                    <td>{{ partenaire.getTel() }}</td>
                                                    <td>{{ partenaire.getEmplacement() }}</td>
                                                    <td><img src="{{ asset('images/produits/' ~ partenaire.getImage()) }}" alt="" style="width:150px"></td>
                                                    <td>
                                                        <a href="{{ path('app_partback_fedit', {id: partenaire.getId()}) }}"><i class="fa">&#x270E;</i></a>
                                                        <a href="{{ path('app_partenaireback_delete', {id: partenaire.getId()}) }}"><i class="fa">&#xf014;</i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = false;
                    $(this).find('td:nth-child(2)').each(function(){ 
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false; 
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

            $('#tableac th:nth-child(2)').click(function(){
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc){rows = rows.reverse()}
                for (var i = 0; i < rows.length; i++){table.append(rows[i])}
            })

              $('#tableac th:nth-child(1)').click(function(){
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc){rows = rows.reverse()}
                for (var i = 0; i < rows.length; i++){table.append(rows[i])}
            })

            function comparer(index) {
                return function(a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index)
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                }
            }

            function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
        });
    </script>
{% endblock %}
