





{% extends 'homeback.html.twig' %}
{% block body %}
        <div class="content-body">
            <div class="container-fluid mt-3">
                <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                        
       <th>ID</th>
        <th>Nom</th>
		<th>Type</th>
		 <th>Nom Entreprise</th>
        <th>Action</th>
                                                </tr>
                                            </thead>
                                              {% for partenaire in offres %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ partenaire.getId() }}</td>
                                                    <td>{{ partenaire.getNomO() | upper }}</td>
                                                 
                                                    <td>
                                                       {{ partenaire.getTypeO() }}
                                                    </td>
                                                    <td> {{ partenaire.entreprise.getNomE() }}</td>
                                                  
                                                  
                                                   <td>
                                                   <a href="{{ path('app_offreback_fedit', {id: partenaire.getId()}) }}"><i class="fa">&#x270E;</i></a>
                                                   <a href="{{ path('app_offreback_delete', {id: partenaire.getId()}) }}"><i class="fa">&#xf014;</i></a>
                                                   </td>
                                                   
                                            </tbody>
                                              {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

               

                

               
            </div>
            <!-- #/ container -->
        </div>
        </div>
        {% endblock %}