{% extends 'homeback.html.twig' %}

{% block body %}


     <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_back') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path('app_back') }}">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->


          

            <div class="container-fluid">
<div class="col-sm-6 col-md-4">
{{form_start(f,{'attr':{'novalidate':'novalidate'}}) }}
{{form_row(f.nom_e, {'attr': {'class': 'form-control mb-3'}}) }}

    </div>

<div class="col-sm-6 col-md-4">
{{form_row(f.emplacement, {'attr': {'class': 'form-control mb-3'}}) }}
{{form_errors(f.emplacement)}}
 </div>
<br>
<div class="col-sm-6 col-md-4">
{{form_row(f.tel, {'attr': {'class': 'form-control mb-3'}}) }}

 </div>
<br>
<div class="col-sm-6 col-md-4">
{{form_row(f.mail_e, {'attr': {'class': 'form-control mb-3'}}) }}

{{form_label(f.imageFile,"Image", {'label_attr': {'class': 'text-white'}})}}
{{form_errors(f.imageFile, {'attr': {'class': 'text-danger'}})}}
{{form_widget(f.imageFile, {'attr': {'class': 'form-control'}})}}
<br>

</div>
<br>




<br>
{{form_end(f)}}

            </div>
            <!-- #/ container -->
            
        

</div>
{% endblock %}