{% extends 'homeback.html.twig' %}
{% block body %}
        <div class="content-body">
            <div class="container-fluid mt-3">
                <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
        <th>ID</th>
        <th>Name emplacement</th>
		<th>Cost</th>
        <th>Capacity</th>
        <th>Action</th>
                                                </tr>
                                            </thead>
                                              {% for emplacement in emplacements %}
                                            <tbody>
                                                <tr>
                                                     <td>
            {{ emplacement.getId() }}
        </td>
        <td>
            {{ emplacement.getNomEm() }}
        </td>
        <td>
            {{ emplacement.getCout() }}
        </td>
        <td>
            {{ emplacement.getCapacite() }}
	

        </td>
                                                  
                                                   <td>
                                                   <a href="{{ path('app_empback_fedit', {id: emplacement.getId()}) }}"><i class="fa">&#x270E;</i></a>
                                                   <a href="{{ path('app_emplacementback_delete', {id: emplacement.getId()}) }}"><i class="fa">&#xf014;</i></a>
                                                   </td>
                                                   
                                            </tbody>
                                              {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

               

                

               
            </div>
            <!-- #/ container -->
        </div>
        </div>
        {% endblock %}